[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "vendor/clay"]
	path = vendor/clay
	url = git@github.com:nicbarker/clay.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = git@github.com:recp/cglm
[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = git@github.com:cimgui/cimgui
